@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  padding: 0 10px;
  min-height: 80vh;
  flex: 1;
}
.straighDash {
  animation: blinking 1s ease infinite;
  transition: 0s ease-in-out;
}

.simpleLink {
  opacity: 0.8;

  text-decoration: underline dashed;
}
.simpleLink:hover {
  opacity: 0.6;
}

.container {
  transition: 0.2s ease-in-out;
  background: linear-gradient(-45deg, #f3f1f5, #dff6ff);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto 2em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@media (max-width: 769px) {
  .container {
    background: white;
  }
  .menu {
    background: linear-gradient(-45deg, #fff, #dff6ff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    text-align: center;
  }
}
